# Ignore Visual Studio temporary files, build results, and
# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln

# Ignore build results
bin/
obj/

# Ignore Visual Studio Code workspace settings
.vscode/
.vs/

# Ignore Rider project files
.idea/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/

# Ignore other common unwanted files
*.log
*.tmp
*.cache

# Ignore publish output
publish/
wwwroot/dist/